:root {
    /*base 3 colors*/
    --light-blue: #DAE6ED;
    --dark-green: #249245;
    --deep-blue: #18244D;
    /*complements --lightblue*/
    --clear-sky-blue: #2BB1FF;
    --faded-blue: #0F91DB;
    --mud-brown: #8F5200;
    --dune-brown: #DB840F;
    /*complements --dark-green*/
    --sharp-green: #2BFF6B;
    --dim-green: #0FDB4D;
    --dull-red: #8F0100;
    --wildflower-red: #DB110F;
    /*complements --deep-blue*/
    --pool-blue: #2B5DFF;
    --fading-day-blue: #0F3FDB;
    --dull-gold: #8F6800;
    --off-gold: #DBA40F;
    /*extra shading*/
    --shadow-grey: #2d2d2d;
    --protospiel-poster-tan: #fcf2c3;
    --clear: rgba(0,0,0,0);
    /*header backing color extracted from image*/
    --bleached-folder: #eee3cd;
    --off-paper: #f7f0e5;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "bilo", serif;
    font-style: normal;
    font-weight: 400;
    color: var(--deep-blue);
    min-width: 320px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.atxgd_content, 
.atxgd_icon_container {
    max-width: 1080px;
}

/*__header__*/
.atxgd_header {
    font-family: "hightower-text", serif;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 16px;
    position: relative;
}

.atxgd_header-backer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 300px;
    min-height: 100px;
    background-image: url('./assets/banner/ATX-GD-Web-banner-photo-onlyCrop1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.atxgd_logo-wrapper {
    width: 100%;
    text-align: center;
}
.atxgd_logo {
    width: 30%;
    max-width: 320px;
    height: auto;
    margin-left: 16px;
}

.atxgd_nav-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10vmax;
    justify-content: center;
    position: relative;
    visibility: visible;
    margin-top: 32px;
}

.atxgd_nav-link{
    color: var(--light-blue);
    background-color: var(--deep-blue);
    text-decoration: none;
    visibility: visible;
    padding: 4px;
    filter: drop-shadow(5px 5px 5px var(--shadow-grey));
    box-shadow: inset 0.1em 0.1em 0.1em 0 var(--light-blue), inset -0.1em -0.1em 0.1em 0 var(--shadow-grey);
} 

.atxgd_nav-link:hover {
    color: var(--mud-brown);
    background-color: var(--clear-sky-blue);
} 

.atxgd_nav-current-page {
    color: var(--deep-blue);
    background-color: var(--dark-green);
}
/*meeple*/
.atxgd_nav-current-page::before {
    content:"";
    position: absolute;
    display: block;
    background-image: url('./assets/banner/meeple_green.svg');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    top: -26px;
}

#atxgd_mobile-burger {
    display: none;
    position: relative;
    top: 24px;
    background-color: var(--deep-blue);
    width: 56px;
    height: 42px;
    filter: drop-shadow(5px 5px 5px var(--shadow-grey));
    box-shadow: inset 0.1em 0.1em 0.1em 0 var(--light-blue), inset -0.1em -0.1em 0.1em 0 var(--shadow-grey);
    left: 50%;
    transform: translateX(-50%);
}
#atxgd_mobile-burger:hover {
    background-color: var(--clear-sky-blue);
}

@media (pointer:fine) {
    #atxgd_mobile-burger:hover {
        color: var(--mud-brown);
        background-color: var(--clear-sky-blue);
    }
}
@media (pointer:coarse){
    #atxgd_mobile-burger:active {
        color: var(--mud-brown);
        background-color: var(--clear-sky-blue);
    }
}
@media screen and (max-width: 600px), screen and (orientation: portrait) {
    .atxgd_logo-wrapper {
        text-align: left;
    }
    #atxgd_mobile-burger {
        display: block;
    }
    .atxgd_nav-menu {
        flex-direction: column;
        margin-left: 50%;
        transform: translateX(-50%);
        padding-top: 4px;
        top: 24px;
        gap: 1em;
        background-color: var(--deep-blue);
        color: var(--light-blue);
        width: 20%;
        height: 84px;
        filter: drop-shadow(5px 5px 5px var(--shadow-grey));
        box-shadow: inset 0.1em 0.1em 0.1em 0 var(--light-blue), inset -0.1em -0.1em 0.1em 0 var(--shadow-grey);
        visibility: hidden;
        margin-top: 0;
    }
    .atxgd_nav-link {
        filter: none;
        box-shadow: none;
        visibility: inherit; /*make sure buttons are invisible*/
    }
    .atxgd_nav-current-page::before {
        display: none;
    }
}

/*__article__*/
.atxgd_title-main {
    text-align: center;
}

.atxgd_content {
    margin: 0 auto;
    width: 90%;
}

/*__footer__*/
.atxgd_footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
}

.atxgd_icon_container {
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
}

.high_center_wave {
    background-color: var(--deep-blue);
    border-top-left-radius: 150% 300%;
    border-top-right-radius: 150% 300%;
    height: 100%;
    width: 100%;
}

.atxgd_facebook-icon {
    position: relative;
    width: 32px;
    height: 32px;
    bottom: 6px;
    margin-right: 32px;
}

.atxgd_meetup-icon {
    position: relative;
    width: 48px;
    height: 48px;
    top: 6px;
    margin-left: 32px;
}

/*special_____________*/
.atxgd_embedded_link {
    padding: 4px;
    background-color: var(--dark-green);
    color: var(--light-blue);
    text-decoration: none;
    width: fit-content;
    margin-top: 3px;
    margin-bottom: 3px;
}

.atxgd_center-text {
    text-align: center;
}