:root {
    /*base 3 colors*/
    --light-blue: #DAE6ED;
    --dark-green: #249245;
    --deep-blue: #18244D;
    /*complements --lightblue*/
    --clear-sky-blue: #2BB1FF;
    --faded-blue: #0F91DB;
    --mud-brown: #8F5200;
    --dune-brown: #DB840F;
    /*complements --dark-green*/
    --sharp-green: #2BFF6B;
    --dim-green: #0FDB4D;
    --dull-red: #8F0100;
    --wildflower-red: #DB110F;
    /*complements --deep-blue*/
    --pool-blue: #2B5DFF;
    --fading-day-blue: #0F3FDB;
    --dull-gold: #8F6800;
    --off-gold: #DBA40F;
    /*extra shading*/
    --shadow-grey: #2d2d2d;
    --protospiel-poster-tan: #fcf2c3;
    /*header backing color extracted from image*/
    --bleached-folder: #eee3cd;
    --off-paper: #f7f0e5;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "bilo", serif;
    font-style: normal;
    font-weight: 400;
    color: var(--deep-blue);
    min-width: 320px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.atxgd_content, 
.atxgd_icon_container {
    max-width: 1080px;
}

/*__header__*/
.atxgd_header {
    font-family: "hightower-text", serif;
    font-style: normal;
    font-weight: 400;
}

.atxgd_header-backer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 25vmin;
    max-height: 260px;
    min-height: 100px;
    background-image: url('./assets/banner/ATX-GD-Web-banner-photo-onlyCrop1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.atxgd_logo-wrapper {
    width: 100%;
    text-align: center;
}
.atxgd_logo {
    width: 30%;
    max-width: 320px;
    height: auto;
}

.atxgd_nav-menu {
    display: flex;
    list-style: none;
    gap: 10vmax;
}

.atxgd_nav-link{
    color: inherit;
    text-decoration: none;
} 

.atxgd_nav-link:hover {
    color: inherit;
    text-decoration: none;
} 

.atxgd_nav-link-active {

}

#atxgd_mobile-burger {
    visibility: hidden;
}

@media screen and (max-width: 600px) {
    .atxgd_logo-wrapper {
        text-align: left;
    }
}

@media screen and (min-width: 1080px){
    
}

@media screen and (max-width: 1080px){
    
}

/*__article__*/
.atxgd_title-main {
    text-align: center;
}

.atxgd_content {
    margin-top: 15vmin;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/*__footer__*/
.atxgd_footer {
    bottom: 0;
    margin-top: auto;
    width: 100%;
    text-align: center;
    overflow-y: hidden;
}

.atxgd_icon_container {
    margin-left: auto;
    margin-right: auto;
}

.high_center_wave {
    background-color: var(--deep-blue);
    border-top-left-radius: 150% 300%;
    border-top-right-radius: 150% 300%;
    height: 100%;
    width: 100%;
}

.atxgd_facebook-icon {
    position: relative;
    width: 32px;
    height: 32px;
    bottom: 6px;
    margin-right: 32px;
}

.atxgd_meetup-icon {
    position: relative;
    width: 48px;
    height: 48px;
    top: 6px;
    margin-left: 32px;
}