.atxgd_carousel {
    width: 50vw;
    height: 50vw;
    margin: 0 auto;
}

.atxgd_carousel-top,
.atxgd_carousel-spillcatch,
.atxgd_carousel-images,
.atxgd_carousel-image {
    width: 100%;
    height: 100%;
}

.atxgd_carousel-top {
    display: flex;
    /*position: relative; --not needed?*/
}

.atxgd_carousel-spillcatch {
    /*overflow: hidden;*/
}

.atxgd_carousel-images {
    position: relative;
    display: flex;
    transition: transform 250ms ease-in;
    z-index: -1;
}
.atxgd_carousel-image {
    position: absolute;
    object-fit: cover;
}

#atxgd_carousel-btnleft{

}
#atxgd_carousel-btnright {

}
.carousel-btn{
    width: 1em;
    height: 1em;
    font-size: 3em;
    color: var(--dark-green);
    background-color: var(--clear);
    border-color: var(--clear);
    cursor: pointer;

}

.atxgd_carousel-bottom {

}

.atxgd_carousel-position {

}
.atxgd_carousel-position.current-position {

}

