.atxgd_game {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.atxgd_game-attribution {
    margin-top: 12px;
    background-color: var(--deep-blue);
    color: var(--dune-brown);
    width: 100%;
    text-align: center;
}

.atxgd_game-attribution-title {

}

.atxgd_game-attribution-authors {

}

.atxgd_game-image {

}

.atxgd_game-summary {

}

